@{
    ViewBag.Title = "Приветствуем вас в нашем магазине !";
}

<div class="col-md-12 myborder">
    <div class="col-md-6">
        <div>
            <img style="max-width:100%;max-height:90%;" src="~/Content/Files/girl_2.png" />
        </div>
    </div>
    <div class="col-md-6">
        <h3 style="color:maroon">@ViewBag.Title</h3>
        @*<h3>@ViewBag.Message</h3>*@
        <br><br><br>
        <p>
            Устал после работы ?,<br>

            Или собираешься поехать на природу с друзьями и что-то забыл купить ?<br>

            Наша дружная команда спешит тебе помочь!<br>

            Покупки Онлайн , это удобный сервис доставки, который обеспечит вам свежие и качественные продукты!<br>

            На сайте вы можете найти широкий ассортимент товаров, а заказ займет лишь несколько минут!<br>

        </p>
        <br><br><br><br><br><br><br><br>
        <p>
            Оформление заказов пн-вс, 9:00 - 18:00<br>

            Доставка заказов пн-вс, 10:00 - 21:00<br>
            <br>
            тел. +38 068 225 93 75<br>

            (Отдел заказов)<br>
            <a href="@ViewBag.Link" target="_blank">Подробнее</a>
        </p>
    </div>
</div>


