@{
    ViewBag.Title = "Контакты";
}

<div class="col-md-12 myborder">
    <br /><br /> <br /><br />
    <div class="col-md-6">
        <div>
            <img style="max-width:100%;max-height:100%;" src="~/Content/Files/Score3_1.png" />
        </div>
    </div>

    <div class="col-md-4">
        <h3 style="color:maroon">@ViewBag.Title</h3>
        @*<h3>@ViewBag.Message</h3>*@
        <br /><br />

        <p>
            Оформление заказов пн-вс, 9:00 - 18:00<br>

            Доставка заказов пн-вс, 10:00 - 21:00<br>
            <br>
            тел. +38 068 225 93 75<br>

            (Отдел заказов)<br>
            <a href="@ViewBag.Link" target="_blank">Подробнее</a>
        </p>



        <br /><br /> <br /><br />
        <br /><br /> <br /><br />
        <br /><br /> <br />
        <p>.</p>
    </div>
    <div class="col-md-2">
        <div>
            <img style="max-width:100%;max-height:100%;" src="~/Content/Files/boy2.png" />
        </div>
    </div>
    <br /><br /> <br />
</div>
      
