@model IEnumerable<MyScore_ASP.Models.Product>

@{
    ViewBag.Title = "FindManufacturer";
}

@*<h2>Товары выбранного производителя</h2>

<div id="searchresults">
    <h3>Товары : @Model.First().Table_Matufactur.NameManufacturer</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.NameProduct</li>
        }
    </ul>
</div>*@