@{
    ViewBag.Title = "Home Page";
}

<!-- class="container-fluid">  вся ширина браузера-->
<div class="container-fluid">
    <div class="col-md-4 myborder">
        <div>
            <img style="max-width:100%;max-height:100%;" src="~/Content/Files/moloko.jpg" />
        </div>
        <br /> <br />

        @*<a class=" mystyle" href="/Home/Milk"> Молочная продуция</a>*@
        <a class=" mystyle btn btn-default" href="/Home/Milk"> Молочная продуция</a>
        
    

    </div>

    <div class="col-md-4 myborder">
        <div>
            <img style="max-width:100%;max-height:100%;" src="~/Content/Files/detskoepitanie.jpeg" />
        </div>
        <br /> <br />

         <a class=" mystyle btn btn-default" href="/Home/BabyFood">Детское питание</a>  


    </div>

    <div class="col-md-4 myborder">
        <div>
            <img style="max-width:100%;max-height:100%;" src="~/Content/Files/kolbasnye-izdeliya.png" />
        </div>
        <br /> <br />
          <a class=" mystyle btn btn-default" href="/Home/Sausages">Колбасы</a>  


    </div>

    <div class="col-md-4 myborder">
        <div>
            <img style="max-width:100%;max-height:100%;" src="~/Content/Files/konfeta.jpg" />
        </div>
        <br /> <br />
           <a class=" mystyle btn btn-default" href="/Home/Confectionery">Кондитерские изделия</a>  
     

    </div>

    <div class="col-md-4 myborder">
        <div>
            <img style="max-width:100%;max-height:100%;" src="~/Content/Files/hleb1.png" />
        </div>
        <br /> <br />
          <a class=" mystyle btn btn-default" href="/Home/Bread">Хлеб</a>  
  

    </div>

    <div class="col-md-4 myborder">
        <div>
            <img style="max-width:100%;max-height:100%;" src="~/Content/Files/korma.jpg" />
        </div>
        <br /> <br />
            <a class=" mystyle btn btn-default" href="/Home/AnimalFeed">Корм для животных</a>  
     

    </div>

    <div class="col-md-4 myborder">
        <div>
            <img style="max-width:100%;max-height:100%;" src="~/Content/Files/bakaleya.jpg" />
        </div>
        <br /> <br />
           <a class=" mystyle btn btn-default" href="/Home/Grocery">Бакалея</a>  
       
    </div>

    <div class="col-md-4 myborder">
        <div>
            <img style="max-width:100%;max-height:100%;" src="~/Content/Files/alkogol.jpg" />
        </div>
        <br /> <br />
           <a class=" mystyle btn btn-default" href="/Home/Alcohol">Алкоголь</a> 
   

    </div>
    <div class="col-md-4 myborder">
        <div>
            <img style="max-width:100%;max-height:100%;" src="~/Content/Files/napitki.jpg" />
        </div>
        <br /> <br />
        <a class=" mystyle btn btn-default" href="/Home/Beverages">Напитки</a>


    </div>
</div>


